{% extends "base.html" %}

{% block content %}

<!-- Breadcrumb Area start -->
<section class="breadcrumb-area " style="background: url(/static/assets/images/breadcrumb-bg/breadcrumb-bg.jpg) no-repeat;background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <div class="breadcrumb-content">
              <h1 class="breadcrumb-hrading">Shop Page</h1>
              <ul class="breadcrumb-links">
                  <li><a href="#">Home</a></li>
                  <li>Shop List</li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Area End -->
<!-- Shop Category Area End -->
<div class="shop-category-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
          <!-- Shop Top Area Start -->
          <div class="shop-top-bar">
              <!-- Left Side start -->
              <div class="shop-tab nav mb-res-sm-15">
                  <a class="active active1" href="#shop-1" data-toggle="tab">
                      <i class="fa fa-th show_grid"></i>
                  </a>
                  <a class="active2" href="#shop-2" data-toggle="tab">
                      <i class="fa fa-list-ul"></i>
                  </a>
                  <p>There Are {{products|length}} Products.</p>
              </div>
              <!-- Left Side End -->
              <!-- Right Side Start -->
              <div class="select-shoing-wrap">
                  <div class="shot-product">
                      <p>Category:</p>
                  </div>
                  <div class="shop-select">
                      <select onchange="location = this.value;">
                        <ul>
                            <option value="/product" >
                              All
                            </option>
                          {% for c in category %}
                              <option value="{{ c.slug }}" {% if category1.slug == c.slug %}selected="selected"{% endif %}>
                                {{ c.name }}
                              </option>
                          {% endfor %}
                        </ul>
                      </select>
                  </div>
              </div>
              <!-- Right Side End -->
          </div>
          <!-- Shop Top Area End -->

          <!-- Shop Bottom Area Start -->
          <div class="shop-bottom-area mt-35">
              <!-- Shop Tab Content Start -->
              <div class="tab-content jump">
                  {% include "./sub-product-list/tab-one.html" %}
              </div>
              <!-- Shop Tab Content End -->
          </div>
          <!-- Shop Bottom Area End -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block domready %}
  $(".compare_icon").on('click',function(e){
    var ddd=$(this);
    ddd.parent().children(".compare-form").children("#submit_compaare").click()
  })

  $(".active1").on('click',function(e){
    localStorage.setItem("active", "active1");
  })

  $(".active2").on('click',function(e){
    localStorage.setItem("active", "active2");
  })

  var activate = localStorage.getItem("active");
  console.log("asas", activate)

  if (activate == "active1") {
    $(".active1").addClass( "active" );
    $(".active2").removeClass( "active" );
    $("#shop-2").removeClass( "active" );
    $("#shop-1").addClass( "active" );
  }else{
    $(".active1").removeClass( "active" );
    $(".active2").addClass( "active" );
    $("#shop-1").removeClass( "active" );
    $("#shop-2").addClass( "active" );
  }

	$(".quick-view1").on('click',function(e){
		var ddd=$(this);
    $("#modal-description" ).empty();
    $("#modal-price").removeClass( "old-price" );
    $("#form-deal").removeClass( "form-deal1" );
    var name=ddd.data('name')
		var discount=ddd.data('discount')
    console.log("dddss",discount)
		var url=ddd.data('url')
    var url1=ddd.data('url1')
    var url2=ddd.data('url2')
    var url3=ddd.data('url3')
    var id=ddd.data('id')
    var amount=ddd.data('amount')
    var old_price = ddd.parent().parent().children(".product-decs").children(".pricing-meta").children().children("#old-price").text()
    var current_price=ddd.parent().parent().children(".product-decs").children(".pricing-meta").children().children("#current-price").text()
    $( "#modal-description" ).append(ddd.parent().parent().children(".product-decs").children(".description-h2-1").children("#description").html());
    console.log("ssssssss",ddd.parent().parent().children(".product-decs").children(".description-h2").html())

    var old_price1 = ddd.parent().parent().parent().parent().children(".child1").children(".child2").children(".product-decs").children(".pricing-meta").children().children("#old-price").text()
    var current_price1=ddd.parent().parent().parent().parent().children(".child1").children(".child2").children(".product-decs").children(".pricing-meta").children().children("#current-price").text()
    $( "#modal-description" ).append(ddd.parent().parent().parent().parent().children(".child1").children(".child2").children(".product-decs").children(".description-h2-1").children("#description").html());

    $("#tab-pane-img").attr("src", $(this).data('url'));
    $("#tab-pane-img-0").attr("src", $(this).data('url'));
    $("#tab-pane-img-1").attr("src", $(this).data('url1'));
    $("#pro-2-img").attr("src", $(this).data('url1'));
    $("#tab-pane-img-2").attr("src", $(this).data('url2'));
    $("#pro-3-img").attr("src", $(this).data('url2'));
    $("#tab-pane-img-3").attr("src", $(this).data('url3'));
    $("#pro-4-img").attr("src", $(this).data('url3'));
    $("#compare_form").attr('action', 'compare/add/'+ id + '/');
    $("#form-deal").attr('action', 'cart/add/'+ id + '/');
		$("#product-details-content-detail").text(name);

    if (old_price) {
      $("#modal-price").text(old_price);
    }else{
      $("#modal-price").text(old_price1);
    }

    $("#modal_discount").text("0%");
    if (current_price) {
        $("#modal-price").addClass( "old-price" );
        $("#modal_current-price").text(current_price);
        $("#modal_discount").text("-"+discount+"%");
    }

    if (current_price1) {
        $("#modal-price").addClass( "old-price" );
        $("#modal_current-price").text(current_price1);
        $("#modal_discount").text("-"+discount+"%");
    }

    if (amount < 1) {
        $("#form-deal").addClass( "form-deal1" );
    }


<!--		$(".modal-one").text($(this).data('like'));-->
<!--		$(".modal-two").text($(this).data('comment'));-->
	});
{% endblock %}